// This is the top-level scss file. Import all other files in here.
body {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

@import './components/Controls/controls';
@import './components/Main/main';
@import './components/Slide/slide';
@import './components/Texts/texts';
@import './components/Track/track';
@import './components/Track/trackInner';
@import './components/Wallpaper/wallpaper';
@import './components/WallSlide/wallSlide';
