.slide {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;

  img {
    border: 2px solid transparent;
    box-sizing: border-box;
    margin: auto;
    transition: transform 0.5s linear;
    transition: border 0.5s linear;
    width: 90%;
  }
}